@import './base.css';

#app {
  width: 100vw;
  font-weight: normal;
  overflow-y: auto;
  /* padding: 0px 15px */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 100fr 1fr;
  }
} */

/* Nav bar */

.nav-container {
  width: 700px; /* Adjust the width as needed */
  height: 70px; /* Adjust the height as needed */
  position: relative;
  border: 2px solid; /* Change the border color as desired */
  border-radius: 40px; /* Half of the height to make the half circles */
  overflow: hidden;
}





/* Universal */
.center-text {
  text-align: center;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}