@import './base.css';

#app {
  width: 100vw;
  font-weight: normal;
  overflow-y: auto;
  /* height: 150vh; */
  /* padding: 0px 15px */
}

/*
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} 
*/

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 100fr 1fr;
  }
} */

/* Nav bar */

.nav-border-off {
  border: 2px solid white;
}
.nav-border-on {
  border: 2px solid black;
}


.nav-container {
  position: fixed;
  top: 20px;
  width: 350px;
  height: 70px;
  /* position: relative; */
  border-radius: 40px;
  overflow: hidden;
}

.nav-btn {
  width: 100px;
  height: 50px;
  border: 2px solid;
  border-radius: 40px;
  overflow: hidden;
  color: black;
  text-decoration: none;
}

.router-link-active {
  color: purple;
}

/* Universal */
.center-text {
  text-align: center;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.center-content-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spread {
  justify-content: space-between;
}

.margin-horizontal-15 {
  margin-left: 15px;
  margin-right: 15px;
}